:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
}
.ag-paging-panel{
  display: flex!important;
  flex-wrap: wrap!important;
  align-items: center!important;
  gap: 10px!important;
  padding: 10px!important;
  height: fit-content!important;
  @media screen and (max-width: 640px) {
    justify-content: center!important;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 100vw;
}
.container{
  padding: 0 4%;
  @media screen and (max-width: 640px) {
    padding: 0 10px;
  }
}
#root{
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px;
  flex-wrap: wrap;
  padding: 10px 4% 0;
  @media screen and (max-width: 640px) {
    padding: 10px 10px 0;
  }
}

h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  color: #666;
}

